{% extends "customer/studymaterial_frontview.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <style>
  /* Make hyperlinks white */
  a {
    color: white;
    text-decoration: none; /* Optional: remove underline */
  }

  /* Add hover effect for better visibility */
  a:hover {
    color: #ccc; /* Light gray on hover */
    text-decoration: underline; /* Optional: underline on hover */
  }
</style>
</head>

<body>
<form id="form1" name="form1" method="post" action="/cs_onlinebkview_post">
  <pre>


  </pre>

{#  <table border="1" class="table table-dark">#}
{#    <tr>#}
{#        <th  scope="col">SI </th>#}
{#      <th  scope="col">BOOK </th>#}
{#      <th scope="col">AUTHOR</th>#}
{#        <th width="102" scope="col">CONTENT</th>#}
{#      <th scope="col">SUBJECT</th>#}
{#        <th scope="col">TYPE</th>#}
{#      <th  scope="col">DESCRIPTION</th>#}
{#      <th  scope="col">IMAGE</th>#}
{#      <th  scope="col">FILE SIZE</th>#}
{#      <th  scope="col">LANGUAGE</th>#}
{#      <th  scope="col">NUMBER OF PAGES</th>#}
{#        <th></th>#}
{#        <th></th>#}
{#        <th></th>#}
{##}
{#    </tr>#}
{#      {% for i in data %}#}
{#    <tr>#}
{#      <td >{{ forloop.counter }}</td>#}
{#        <td >{{ i.book_name }}</td>#}
{#      <td >{{ i.author }}</td>#}
{#        <td><a href="/turn_pages/{{ i.id }}">READ NOW</a><br><a href="{{ i.content }}" download>download</a> </td>#}
{#      <td >{{ i.subject }}</td>#}
{#        <td >{{ i.type }}</td>#}
{#      <td >&nbsp;{{ i.description }}</td>#}
{#      <td >&nbsp;<img src="{{ i.image }}" width="100" height="100" alt=""/></td>#}
{#      <td >{{ i.filesize }}</td>#}
{#      <td >{{ i.language }}</td>#}
{#      <td >{{ i.no_ofpage }}</td>#}
{#      <td><a href="/add_qtn/{{ i.id }}#aa">add questions</a>#}
{#      <br>#}
{#          <a href="/view_question/{{ i.id }}#aa">view question</a>#}
{#      </td>#}
{#    <td><a href="/attend_qtn/{{ i.id }}#aa">attend question</a></td>#}
{#        <td><a href="/score/{{ i.id }}#aa">view score</a></td>#}
{##}
{##}
{##}
{#    </tr>#}
{#      {% endfor %}#}
{#  </table>#}
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <table width="374" border="1" class="table table-dark">
  {% for i in data %}
    <tr>
      <th width="184" scope="row">IMAGE</th>
      <td width="174"><img src="{{ i.image }}" width="100" height="100" alt=""/></td>
    </tr>
    <tr>
      <th scope="row">AUTHOR</th>
      <td>{{ i.book_name }}</td>
    </tr>
    <tr>
      <th scope="row">AUTHOR</th>
      <td>{{ i.author }}</td>
    </tr>
    <tr>
      <th scope="row">CONTENT</th>
      <td><a href="/turn_pages/{{ i.id }}">READ NOW</a><br><a href="{{ i.content }}" download>download</a> </td>
    </tr>
    <tr>
      <th scope="row">SUBJECT</th>
      <td>{{ i.subject }}</td>
    </tr>
    <tr>
      <th scope="row">TYPE</th>
      <td>{{ i.type }}</td>
    </tr>
    <tr>
      <th scope="row">DESCRIPTION</th>
      <td>{{ i.description }}</td>
    </tr>
    <tr>
      <th scope="row">FILE SIZE</th>
      <td>{{ i.filesize }}</td>
    </tr>
    <tr>
      <th scope="row">LANGUAGE</th>
      <td>{{ i.language }}</td>
    </tr>
    <tr>
      <th scope="row">NO. OF PAGES</th>
      <td>{{ i.no_ofpage }}</td>
    </tr>
    <tr>
      <th colspan="2" scope="row" align="center"><a href="/add_qtn/{{ i.id }}#aa">add questions</a>
      <br>
          <a href="/view_question/{{ i.id }}#aa">view question</a></th>
    </tr>
    <tr>
      <th colspan="2" scope="row" align="center"><a href="/attend_qtn/{{ i.id }}#aa">attend question</a></th>
    </tr>
    <tr>
      <th colspan="2" scope="row" align="middle"><a href="/score/{{ i.id }}#aa">view score</a></th>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
  
  
  
</form>
</body>
</html>
{% endblock %}