
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/reg_cust_post"  enctype="multipart/form-data">


<table width="408" border="1">
    <tr>
    <th scope="row" align="left">IMAGE</th>
    <td><label for="textfield14"></label>
      <input type="file" name="fileField" id="fileField" /></td>
  </tr>
  <tr align="left">
    <th width="258" scope="row">FIRST NAME</th>
    <td width="134">
      <input type="text" name="textfield" id="textfield" />
    </td>
  </tr>
    <tr align="left">
    <th width="258" scope="row">LAST NAME</th>
    <td width="134">
      <input type="text" name="textfield9" id="textfield9" />
    </td>
    </tr>
  <tr align="left">
    <th scope="row">EMAIL</th>
    <td>
      <input type="text" name="textfield2" id="textfield2" />
    </td>
  </tr>
  <tr align="left">
    <th scope="row">PHNO.</th>
    <td>
      <input type="text" name="textfield3" id="textfield3" />
    </td>
  </tr>
  <tr align="left">
  <th scope="row"><p>DATE OF BIRTH</p></th>
  <td>
    <input type="date" name="textfield4" id="textfield4" required />
  </td>
</tr>
  <tr align="left">
    <th scope="row">AGE</th>
    <td>
      <input type="text" name="textfield6" id="textfield6" />
    </td>
  </tr>
  <tr align="left">
    <th scope="row">GENDER</th>
    <td><input type="radio" name="radio" id="radio" value="Male" />
      <label for="radio">Male</label><br />
        <input type="radio" name="radio" id="female" value="Female" />
      <label for="radio">Female</label>
      
    </td>
  </tr>
 <tr align="left">
    <th scope="row">PLACE</th>
    <td>
      <input type="text" name="textfield7" id="textfield7" />
    </td>
  </tr>
    <tr align="left">
    <th scope="row">POST</th>
    <td>
      <input type="text" name="textfield10" id="textfield10" />
    </td>
  </tr>
    <tr align="left">
    <th scope="row">PIN</th>
    <td>
      <input type="text" name="textfield11" id="textfield11" />
    </td>
  </tr>
  <tr align="left">
    <th scope="row">PASSWORD</th>
    <td>
      <input type="password" name="textfield8" id="textfield8" />
    </td>
  </tr>
  <tr align="left">
    <th scope="row">CONFIRM PASSWORD</th>
    <td>
      <input type="password" name="textfield5" id="textfield5" />
    </td>
  </tr>
  <tr>
    <th colspan="2" scope="row">
      <input type="submit" name="button" id="button" value="REGISTER" />
    </th>
  </tr>
</table>
</form>
</body>
</html>
