{% extends "customer/index.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/edit_question_post/{{ view.id }}/{{ qid }}">
  <table width="174" border="1">
    <tr>
      <td width="164"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield"  placeholder="QUESTION" value="{{ view.questions }}"  /></td>
    </tr>
    <tr>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" placeholder="OPTION A" value="{{ view.option_a  }}" /></td>
    </tr>
    <tr>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" placeholder="OPTION B" value="{{ view.option_b  }}" /></td>
    </tr>
    <tr>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" placeholder="OPTION C" value="{{ view.option_c }}"/></td>
    </tr>
    <tr>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5"placeholder="OPTION D" value="{{ view.option_d  }}" /></td>
    </tr>
     <tr>
      <td width="176"><label for="select"></label>
        <select name="select" id="select">
                    <option>CHOOSE AN OPTION </option>
        <option value="OPTION A">OPTION A</option>
        <option value="OPTION B">OPTION B</option>
        <option value="OPTION C">OPTION C</option>
        <option value="OPTION D">OPTION D</option>
      </select></td>
    </tr>
    <tr>
      <td align="center"><input type="submit" name="button" id="button" value="EDIT QUESTION" /></td>
    </tr>
  </table>
</form><br><br><br><br><br><br><br><br><br>
</body>
</html>
{% endblock %}