{% extends "customer/index.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/place_orderfrombook_post/{{ id }}/{{cslid}}/{{ slid }}">
    {% csrf_token %}

      <table width="302" border="1">
        <tr>
          <th width="173" scope="row">QUANTITY</th>
          <td width="176"><label for="select5"></label>
            <select name="select" id="select5">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select></td>
        </tr>
        <tr>
          <th rowspan="5" scope="row">ADDRESS</th>
          <td><input type="text" name="textfield" id="textfield" placeholder="Pin"/></td>
        </tr>
        <tr>
          <td><input type="text" name="textfield4" id="textfield4" placeholder="City"/></td>
        </tr>
        <tr>
          <td><input type="text" name="textfield5" id="textfield5" placeholder="State"/></td>
        </tr>
        <tr>
          <td><input type="text" name="textfield2" id="textfield2" placeholder="House/Flat/Office No" /></td>
        </tr>
        <tr>
          <td><input type="text" name="textfield3" id="textfield3" placeholder="Road Name/Area/Colony" /></td>
        </tr>
        <tr>
          <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="PLACE ORDER
      " /></th>
        </tr>
      </table>
</form>
</body>
</html>
{% endblock %}