<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="90%" height="500" border="1" align="center" style="margin-top: 10%">
    <tr>
      <td align="center"><a href="/chpass">CHANGE PASSWORD</a></td>
    </tr>
    <tr>
        <td align="center"><a href="/add_cat">CATEGORY ADD</a></td>
    </tr>
        <tr>
      <td align="center"><a href="/view_cat">CATEGORY VIEW</a></td>
    </tr>
      <tr>
        <td align="center"><a href="/onlinebookadd">ADD BOOK</a></td>
    </tr>
       <tr>
        <td align="center"><a href="/onlinebkview">VIEW ONLINE BOOK</a></td>
    </tr>
      <tr>
      <td align="center"><a href="/onlinebk_reviw">ONLINE BOOK REVIEW</a></td>
    </tr>
    <tr>
      <td align="center"><a href="/seller_mngt">APPROVE OR REJECT SELLER</a></td>
    </tr>
       <tr>
      <td align="center"><a href="/seller_approval">VIEW APPROVED SELLER</a></td>
    </tr>
    <tr>
      <td align="center"><a href="/reviw">REVIEW MANAGEMENT</a></td>
    </tr>
    <tr>
         <tr>
      <td align="center"><a href="/view_thoughtwaves">VIEW THOUGHTWAVES </a></td>
    </tr>
    <tr>
      <td align="center"><a href="/view_user">VIEW CUSTOMER</a></td>
    </tr>
      <tr>
      <td align="center"><a href="/blockeduser">VIEW BLOCKED CUSTOMER </a></td>
    </tr>
    <tr>
      <td align="center"><a href="/ordhist">ORDER HISTORY</a></td>
    </tr>
      <tr>
      <td align="center"><a href="/logout">LOGOUT</a></td>
    </tr>
  </table>
</form>
</body>
</html>
