<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>EON </title>

    <!-- Favicon -->
    <link rel="icon" href="/static/index/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/static/index/style.css">

    {% block scripts %}
    <!-- Base JavaScript files that can be used across the admin panel -->
    {% endblock %}
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="palatin-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="palatinNav">

                        <!-- Nav brand -->
                        <a href="/admin_index" class="nav-brand"><img src="/static/index/img/bg-img/icon-removebg-preview.png" width="150" height="150" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="">Home</a></li>
{#                                    <li><a href="about-us.html">About Us</a></li>#}
                                    <li><a href="#">Category</a>
                                        <ul class="dropdown">
                                            <li><a href="/add_cat#aa">Add</a></li>
                                            <li><a href="/view_cat#aa">View </a></li>
                                        </ul>
                                    </li>
                                     <li><a href="#">Book</a>
                                        <ul class="dropdown">
                                            <li><a href="/onlinebookadd#aa">Add</a></li>
                                            <li><a href="/onlinebkview_frontview">View </a></li>
                                        </ul>
                                    </li>
                                 </li>
                                     <li><a href="#">Seller</a>
                                        <ul class="dropdown">
                                            <li><a href="/seller_mngt#aa">Registered</a></li>
                                            <li><a href="/seller_approval#aa">Approved </a></li>
                                        </ul>
                                    </li>
                                     </li>
                                     <li><a href="#">Customer</a>
                                        <ul class="dropdown">
                                            <li><a href="/view_user#aa">View</a></li>
                                            <li><a href="/blockeduser#aa">Blocked </a></li>
                                        </ul></li>
                                    <li><a href="#">More</a>
                                        <ul class="dropdown">
                                            <li><a href="/onlinebk_reviw#aa">Review</a>
{#                                            <ul class="dropdown">#}
{#                                                <li><a href="/onlinebk_reviw#aa">Online book</a></li>#}
{#                                                 <li><a href="/reviw#aa">Other book</a></li>#}
{#                                            </ul>#}
                                            </li>
                                            <li><a href="/ordhist#aa">Order history </a></li>
                                             <li><a href="/view_allthoughtwave_frontview#aa">Thoughtwaves</a></li>
                                            <li><a href="/chpass#aa">Change password </a></li>

                                        </ul>

                                </ul>

                                <!-- Button -->
                               <div class="menu-btn">
    <a href="/logout" class="btn palatin-btn"
       onclick="return confirmLogout()">Logout</a>
</div>

<script>
function confirmLogout() {
    if (confirm('Are you sure you want to log out?')) {
        window.location.href = '/logout';
    } else {
        window.location.href = '/admin_index';
    }
    return false; // Prevent default link action
}
</script>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">

            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <div class="slide-img bg-img" style="background-image: url(/static/index/img/bg-img/book3.png);"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-9">
                            <!-- Slide Content -->
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <div class="line" data-animation="fadeInUp" data-delay="300ms"></div>
                                <h2 data-animation="fadeInUp" data-delay="500ms">EON</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">Eon is an innovative ebook platform where readers can discover, purchase, and read ebooks . Our platform also enables customers to sell their used ebooks and access study materials, fostering a vibrant community of book lovers and learners. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(/static/index/img/bg-img/book8.jpg);"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-9">
                            <!-- Slide Content -->
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <div class="line" data-animation="fadeInUp" data-delay="300ms"></div>
                                <h2 data-animation="fadeInUp" data-delay="500ms">Explore Our Digital Library</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">Access a vast collection of online books, including academic and non-academic titles, and enjoy the flexibility to read or download them at your convenience. Additionally, our academic section offers comprehensive study materials, interactive quizzes, and chapter-wise question-and-answer sessions, allowing you to test your knowledge and track your progress..</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(/static/index/img/bg-img/book13.jpg);"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-9">
                            <!-- Slide Content -->
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <div class="line" data-animation="fadeInUp" data-delay="300ms"></div>
                                <h2 data-animation="fadeInUp" data-delay="500ms">Share Your Voice</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">Express yourself through Thought Waves, our community-driven platform where you can upload and share your creative writings, such as short stories, blogs, poems, and more, and engage with others through likes, comments, and discussions, fostering a supportive and inspiring environment for writers and readers alike.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><pre>



    </pre>

    <section class="about-us-area">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-12 col-lg-6">
                    <div class="about-text text-center mb-100">
                        <div class="section-heading text-center">
                            <div class="line-"></div>
                            <h2>Explore Our Digital Library</h2>
                        </div>
                        <p> Access a vast collection of online books, including academic and non-academic titles, and enjoy the flexibility to read or download them at your convenience. Additionally, our academic section offers comprehensive study materials, interactive quizzes, and chapter-wise question-and-answer sessions, allowing you to test your knowledge and track your progress.</p>
                        <div  class="about-key-text text-left">
                            <h6 align="left"><span class="fa fa-check"></span> Access anytime,anywhere</h6>
                            <h6><span class="fa fa-check"></span> Discover books tailored to your interests and reading habits</h6>
                            <h6><span class="fa fa-check"></span>Explore a wide range of genres, from academic resources to fiction</h6>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="about-thumbnail homepage mb-100">
                        <!-- First Img -->
                        <div class="first-img wow fadeInUp" data-wow-delay="100ms">
                            <img src="/static/index/img/bg-img/book4.jpg" alt="">
                        </div>
                        <!-- Second Img -->
                        <div class="second-img wow fadeInUp" data-wow-delay="300ms">
                            <img src="/static/index/img/bg-img/book10.jpg" alt="">
                        </div>
                        <!-- Third Img-->
                        <div class="third-img wow fadeInUp" data-wow-delay="500ms">
                            <img src="/static/index/img/bg-img/book5.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pool-area section-padding-100 bg-img bg-fixed" style="background-image: url(/static/index/img/bg-img/book10.jpg);">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-lg-7">
                    <div class="pool-content text-center wow fadeInUp" data-wow-delay="300ms">
                        <div class="section-heading text-center white">
                            <div class="line-"></div>
                            <h2>Turn Pages into Profits</h2>
                            <p>Transform your bookshelves into a goldmine! Buy and sell new and used books with ease, and start earning cash from your favorite reads!</p>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="pool-feature">
                                    <img src="/static/index/img/icon/money1.png">
                                    <p>Sell</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="pool-feature">
                                    <img src="/static/index/img/icon/cart3.png">
                                    <p>Buy</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="pool-feature">
                                    <img src="/static/index/img/icon/book2.png">
                                    <p>Enjoy</p>
                                </div>
                            </div>
                        </div>
                        <!-- Button -->

                    </div>
                </div>
            </div>
        </div>
    </section>

{#    </section>#}
    <section class="contact-area d-flex flex-wrap align-items-center" id="aa" style="background: ghostwhite">
{#        <img src="/static/index/img/bg-img/book4.jpg" height="10%" width="50%">#}

            <div class="row  mx-auto">

                <div class="col-10">
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
    </section>
    <footer class="footer-area">
        <div class="container">
            <div class="row">

                <!-- Footer Widget Area -->
                <div class="col-12 col-lg-12">
                    <div class="footer-widget-area mt-50">
                        <div class="row">
                            <div class="col-lg-4">
                                <a href="#" class="d-block mb-5"><img src="/static/index/img/bg-img/icon-removebg-preview.png" height="250" width="250" alt=""></a>
                            </div>
                            <div class="col-lg-8">
                                <br><br>
                                <p>Eon is an innovative ebook platform where readers can discover, purchase, and read ebooks . Our platform also enables customers to sell their used ebooks and access study materials, fostering a vibrant community of book lovers and learners. </p>  <p><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            </a></p>
                            </div>
                        </div>


                  </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery-2.2.4 js -->
    <script src="/static/index/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/index/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/index/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/static/index/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/static/index/js/active.js"></script>
</body>

</html>