<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/reg_seller_post" enctype="multipart/form-data">

<table width="408" border="1">
  <tr align="left">
    <th width="258" scope="row">SELLER NAME</th>
    <td width="134">
      <input type="text" name="textfield" id="textfield" placeholder="alice"/>
    </td>
  </tr>
  <tr align="left">
    <th scope="row">EMAIL</th>
    <td>
      <input type="text" name="textfield2" id="textfield2" placeholder="alice@gmail.com"/>
    </td>
  </tr>
  <tr align="left">
    <th scope="row">PHNO.</th>
    <td>
      <input type="text" name="textfield3" id="textfield3" placeholder="+91 906769****"/>
    </td>
  </tr>
  <tr align="left">
    <th scope="row"><p>PLACE</p></th>
    <td>
      <input type="text" name="textfield4" id="textfield4" placeholder="kannur"/>
    </td>
  </tr>
  <tr align="left">
    <th scope="row">POST</th>
    <td>
      <input type="text" name="textfield6" id="textfield6" placeholder="thana"/>
    </td>
  </tr>
  <tr align="left">
    <th scope="row">PINCODE</th>
    <td>
      <input type="text" name="textfield7" id="textfield7" placeholder="67****"/>
    </td>
  </tr>
  <tr align="left">
    <th scope="row">CERTIFICATE</th>
    <td>
      <input type="file" name="fileField" id="fileField" />
    </td>
  </tr>
  <tr align="left">
    <th scope="row">PASSWORD</th>
    <td>
      <input type="password" name="textfield8" id="textfield8" />
    </td>
  </tr>
  <tr align="left">
    <th scope="row">CONFIRM PASSWORD</th>
    <td>
      <input type="password" name="textfield5" id="textfield5" />
    </td>
  </tr>
  <tr>
    <th colspan="2" scope="row">
      <input type="submit" name="button" id="button" value="REGISTER" />
    </th>
  </tr>
</table>
</form>
</body>
</html>
