<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="969" border="1">
    <tr>
      <th width="26" scope="col">SI</th>
      <th width="148" scope="col">THOUGHT NAME</th>
      <th width="145" scope="col">SELLER NAME</th>
      <th width="118" scope="col">CATEGORY</th>
      <th width="184" scope="col">PUBLISHED DATE</th>
      <th width="99" scope="col">VIEWS</th>
      <th width="117" scope="col">COMMENTS</th>
      <th width="80" scope="col">&nbsp;</th>
    </tr>
    <tr>
      <td rowspan="2">&nbsp;</td>
      <td rowspan="2">&nbsp;</td>
      <td rowspan="2">&nbsp;</td>
      <td rowspan="2">&nbsp;</td>
      <td rowspan="2">&nbsp;</td>
      <td rowspan="2">&nbsp;</td>
      <td rowspan="2">&nbsp;</td>
      <td align="center"><a href="#">view</a></td>
    </tr>
    <tr>
      <td align="center"><a href="#">delete</a></td>
    </tr>
  </table>
</form>
</body>
</html>
