<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<table width="306" border="1">
  <tr>
    <th width="73" scope="row">STATUS</th>
    <td width="217"><label for="select"></label>
      <select name="select" id="select">
        <option>order placed</option>
        <option>dispatch</option>
        <option>shipped</option>
        <option>out for deliver</option>
        <option>delayed</option>
        <option>delivered</option>
        <option>cancelled</option>
        <option>returned</option>
      </select></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="UPDATE" /></th>
    </tr>
</table>
</form>
</body>
</html>
